name: CI/CD

on:
  push:
    branches: [ dev ]
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: 'dev'

concurrency:
  group: cicd-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 13.125.14.182 >> ~/.ssh/known_hosts

      - name: Deploy with docker-compose (EC2 build)
        run: |
          ssh ${{ secrets.SSH_USERNAME }}@13.125.14.182 << 'EOF'
          set -e
          cd /home/ubuntu/backend

          echo "최신 코드 가져오기"
          git pull origin dev

          echo "Docker Compose build & up"
          docker compose up -d --build

          echo "Deploy finished"
          EOF